.primary {
    color: var(--color-primary);
}

.secondary {
    color: var(--color-secondary)
}

.black {
    color: black
}

.error {
    color: rgba(246, 15, 15, 0.97);
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.normal {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}